.form2 input {
    width: 100%;
    height: 35px;
    background: #f6f4e8;
    border-top: none;
    /* border-bottom: 20px solid black; */
    border-right: none;
    border-left: none;
    color: #1d3124;
    border-radius: 4px;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: sans-serif;
}

.form2 h2 {
    width: 220px;
    font-family: sans-serif;
    text-align: center;
    color: #bacec1 ;
}

.form2 {
    width: 250px;
    height: 380px;
    background: #1d3124;
    margin: 100px;
    top: -20px;
    left: 870px;
    border-radius: 10px;
    padding: 25px;
   align-items: center;
   margin: 0 auto;
   margin-top: 100px;

}

.form2 input:focus {
    outline: none;
}

.btnn a {
    color: #f6f4e8;
}

.link {
    color: #f6f4e8;
}

.form2 a {
    color: #f6f4e8;
}
